/* Custom styles for my-account component */

.tab {
  transition: all 200ms ease;
}

.tab-active {
  background-color: hsl(var(--p));
  color: hsl(var(--pc));
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .tabs {
    width: 100%;
  }

  .tab {
    flex: 1;
  }
}
